[submodule "Chipmunk2D"]
	path = lib/Chipmunk2D
	url = https://github.com/slembcke/Chipmunk2D
[submodule "lib/gason"]
	path = lib/gason
	url = https://github.com/vivkin/gason
[submodule "lib/json11"]
	path = lib/json11
	url = https://github.com/dropbox/json11
